<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2>登録メールアドレス</h2>
      <p><%= current_user.email %></p>
      <h2>アカウントランク</h2>
      <p><%= convert_account(current_user.account) %></p>
      <p><%= link_to("アップグレード", "/users/upgrade") %></p>
      <h2>監視中サイト数</h2>
      <p><%= @allpostsnumber %>/<%= convert_kanshimax(current_user.account) %></p>
    </div>
  </div>
</div>