<div class="main posts-index">

  <div class="container">
 
     <div class="col-12">
     <div class="card">
            <div class="card-header">監視サイト一覧</div>
        <table class="table table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>URL</th>
                    <th>キーワード</th>
                    <th>キーワード2</th>
                     <th>キーワード発生状況</th>
                    <th>編集</th>
                    <th>削除</th>
                </tr>
            </thead>
            <tbody>
    <% @posts.each do |post| %>
      <tr>
                    <td><%=text_url_to_link(post.url).html_safe %></td>
                    <td><%=post.content.truncate(50)%></td>
                    <td><%=post.content2.truncate(50)%></td>
                    <td><%=convert(post.zaiko)%></td> 
                    <td><%=link_to("編集", "/posts/#{post.id}/edit")%></td>
                    <td> <%= link_to("削除", "/posts/#{post.id}/destroy", {method: "post"}) %></td>
      </tr>
    <% end %>
            </tbody>
        </table>
    </div>
    </div>
  </div>
</div>