<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">個別登録</h1>
    <%= form_tag("/posts/create") do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          
          <p>サイトURL</p>
          <input name="url" value="<%= @post.url %>">
          <p>在庫切れキーワード</p>
          <input name="content" value="<%= @post.content %>">
          <p>在庫切れキーワード２</p>
          <input name="content2" value="<%= @post.content2 %>">
          <!--<textarea name="content"><%= @post.content %></textarea>-->
          <input type="submit" value="登録">

          
        </div>
      </div>
    <% end %>

    <h1 class="form-heading">一括登録</h1>
    <%= form_tag({controller: "posts", action: "import", method: "post"}, {multipart: true}) do %>
    <div class="form">
        <div class="form-body">
          <%= file_field_tag :file %>
          <%= submit_tag "一括登録" %>
          
        </div>
          
    </div>
     
    <% end %>
    <%= button_to '一括登録用のCSVファイルのダウンロードはこちら', download_path, method: :get, class: "btn btn-default" %>
  </div>
</div>